:root {
  --primary: #326273;
  --secondary: #5c9ead;
  --tertiary: #e39774;
}

.hero {
  background-color: var(--primary);
  height: 30vh;
  background-size: cover;
  color: var(--tertiary);
  padding-top: 2vh;
  padding-bottom: 4vh;
}

body {
  background-color: var(--secondary);
  color: white;
}

ul {
  list-style-type: none;
}

a {
  color: midnightblue;
  text-decoration: none;
}

.navActive {
  color: white;
}